TELEGRAM_TOKEN=REMOVED
TELEGRAM_CHAT_ID=786866628

ALLURE_TOKEN=ТВОЙ_ALLURE_TOKEN
ALLURE_ENDPOINT=https://allure.autotests.cloud
ALLURE_PROJECT_ID=5305

STAND=Local

ALLURE_REPORT_URL=http://localhost:8080/allure-report
ALLURE_DASHBOARD_URL=https://allure.autotests.cloud/project/5305
ALLURE_JOB_RUN_URL=https://allure.autotests.cloud/jobrun/
BUILD_URL=Local_run