TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

UI_URL=https://realworld.qa.guru
API_URL=https://apichallenges.eviltester.com

ALLURE_TOKEN=your_allure_token
ALLURE_PROJECT_ID=your_allure_project_id